@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}


a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

button,
input { /* 1 */
  overflow: visible;
}

button,
select { /* 1 */
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box; /* 1 */
  font-family: sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background: transparent;
  padding: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* 1 */
  line-height: 1.5; /* 2 */
}

*,
*::before,
*::after {
  border-width: 0;
  border-style: solid;
  border-color: #e2e8f0;
}

hr {
  border-top-width: 1px;
}

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: #a0aec0;
}

button,
[role="button"] {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

pre,
code,
kbd,
samp {
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

img,
video {
  max-width: 100%;
  height: auto;
}

.btn{
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin: 1rem;
  border-radius: 0.25rem;
}

.btn.btn-primary{
  background-color: #38a169;
}

.container {
  width: 100%;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
}

.logo {
  margin-left: 5%;
  margin-right: 0px;
  margin-top: -30px;
}

.nav-btn {
  margin-right: 50px;
}

.Logout {
  display:flex;
  flex-direction: row;
  align-items: center;
}

.UserInfo {
  text-align: center;
  display: flex;
  flex: 0;
}

.Sign-Out {
  margin-left: 20px;
  text-align: center;
  flex: 1;
}

p {
  display: flex;
  justify-content: space-between;
}

.container {
  display: flex;
  background-color: #756DCF;
  flex-direction: row;
  max-width: 100%
}

.container-mobile{
  display: flex;
  background-color: #756DCF;
  flex-direction: column;
}

.add-event-comp {
  max-width: 500px;
  margin: 30px auto;
  /* margin-left: 50px; */
  /* margin-right: 50px; */
  overflow: auto;
  min-height: 300px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  flex: 0 0 65%;
  max-height: 520px;
}

.events-comp {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;;
  min-height: 300px;
  border: 1px solid #000;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
  flex: 1;
}

.events-comp-mobile {
  margin-left: 20px;
  margin-right: 20px; 
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  height: 120px;
}

.button {
  display: inline-block;
  background: #756DCF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.98);
}

.button-block {
  display: block;
  width: 100%;
}

.event {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
}

.event-sponsored {
  background: #f4f4f4;
  border: 1px solid #756DCF;
  border-radius: 10px;
  margin: 5px;
  padding: 10px 20px;
}

.event h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 0px;
}

.form-control {
  margin: 15px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  /* margin: 5px; */
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 5px;
  border-width: 2px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

footer {
  margin-top: 0px;
  text-align: center;
}

.mt-8 {
  margin-top: 2rem;
}

.block {
  display: block;
}

.sign-in-h1 {
  font-size: 1.875rem;
  margin-bottom: 0.5rem;
  text-align: center;
  font-weight: 700;
}

.sign-in-form-div {
  border-style: solid;
  border-width: 1px;
  border-color: #63b3ed;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 0.25rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.err {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #e53e3e;
  width: 100%;
  color: #fff;
  text-align: center;
  margin-bottom: 0.75rem;
}

.email-input {
  border: none;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  padding: 0.25rem;
  width: 100%;
}

.pwd-input {
  border: none;
  margin-top: 0.25rem;
  margin-bottom: 0.75rem;
  padding: 0.25rem;
  width: 100%;
}

.sign-in-btn {
  border: none;
  color: #fff;
  background-color: #68d391;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sign-in-btn:hover {
  background-color: #48bb78;
}

.sign-in-google-btn {
  border: none;
  color: #fff;
  background-color: #f56565;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.sign-in-google-btn:hover {
  background-color: #e53e3e;
}

.ctr {
  text-align: center;  
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.extra-btn {
  color: #4299e1;
  text-decoration: none;
}

.extra-btn:hover {
  color: #3182ce;
}

.goback-btn {
  color: #2b6cb0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: center;
  display: block;
  text-decoration: none;
}

.goback-btn:hover {
  color: #2c5282;
}

.resetlink-btn {
  width: 100%;
  background-color: #63b3ed;
  color: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.resetlink-btn:hover {
  background-color: #46a5e9;
}

.user-info {
  font-size: 1.5rem;
  font-weight: 600;
}